
 /* Basic selectors */
 body
       {
             background-image: url('https://c1.wallpaperflare.com/preview/839/507/616/beach-female-girl-light.jpg');
             background-repeat: no-repeat;       /* if we have repeat then repeat-x is horizontal,,repeat-y is vertical is repeated*/
             background-size: cover;             /* if cover use total screen shows, if fit-content use small sixe screen */
             box-sizing: border-box;             /* box model and border size*/
       }
        h1
        {
             color:black;                      /*Title background color*/
             text-align: center;
        }
        table,tr
        {
            margin: 50px;                       /*margin uses the border lines */
            border-color: blue;               /* border color*/
            border-width: 2px;                  /*boder width 2px,3px,4px,5px,.....*/
            border-style: solid;                /*border style use Dotted,Double,Dash,Wavy,ridge...*/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
            padding: 50px;                      /* padding is space between border to data*/
        }
        /*if given for tr it will be applicable to all tags...so we will go with class names*/
        tr
        {
            margin: 20px;                        
        }
        table{
            border-width: 10px;
        }
        tr{
            border-width: 2px;
        }
        .col                                              /* selecting by class name*/
        {
            background-color: lightgrey;
        }
        #th                                               /*selecting by id name*/
        {
           background-color: coral;
        }